{
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "plugins": [
      "react",
      "import",
      "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "arrow-body-style": "off",
    "arrow-parens": "off",
    "comma-dangle": ["error", "always-multiline"],
    "spaced-comment": "warn",
    "global-require": "off",
    "new-cap": "off",
    "no-console": "warn",
    "no-mixed-operators": "off",
    "no-underscore-dangle": "off",
    "function-paren-newline": "off",
    "operator-assignment": ["error", "never"],
    "camelcase": "off",
    "object-curly-spacing": ["error", "never"],
    "object-curly-newline": "off",
    "quotes": ["error", "single", {"avoidEscape": true}],

    "react/jsx-filename-extension": "off",
    "react/no-multi-comp": ["error", { "ignoreStateless": true }],
    "react/require-default-props": "off",

    "prettier/prettier": ["error", {
      "singleQuote": true,
      "bracketSpacing": false,
      "trailingComma": "all",
      "printWidth": 100
    }]
  }
}
