.root {
  color: black;
  cursor: pointer;
}

.textInput {
  color: blue;
}

:global(.react-chloroform-error) {
  outline: 2px solid red;
}

.error {
  color: red;
  font-size: 10px;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

select {
  margin: 10px 0;
}

.checkboxes {
  margin: 20px 0;
}
